// tab标签样式
.el-tabs__header {
    margin: 0;
}

.el-tabs__nav {
    margin-bottom: 5px;
}

.el-tabs__nav-wrap {
    padding: 0 20px;
}

.return-icon {
    position: absolute;
    top: 7px;
    right: 20px;
    color: #2e92fa;
    cursor: pointer;
    z-index: 999;
    & i{
        font-size: 22px;
    }
}