// card
.header-blue {
    color: #1988fb;
}

.header-green {
    color: #91cc77;
}

.header-yellow {
    color: #f7c23a;
}

.header-position {
    text-align: right;
    padding-right: 10px;
}

.header-avatar-wzlb {
    margin: 20px 0;
    background-color: #1988fb;
}

.header-avatar-kpxm {
    margin: 20px 0;
    background-color: #91cc77;
}

.header-avatar-srfx {
    margin: 20px 0;
    background-color: #f7c23a;
}

.icon-size {
    font-size: 20px;
}