#app,
.container {
    width: 100%;
    overflow: auto;
}

html,
body,
#app,
.container {
    height: 100%;
}

.el-row {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
}


// 改变表头颜色
.has-gutter th {
    background-color: #F4F5F7 !important;
    color: #426fa3;

    // & .el-table .ascending .sort-caret.ascending,& .el-table .descending .sort-caret.descending {
    //     border-top-color: #426FAB!important;
    // }
}

// 二级菜单的布局样式
.second-layout {
    background-color: #F0F0F0;
    padding: 10px 15px;
}

// 下拉选择框样圆角
.el-input--suffix .el-input__inner {
    background-color: #ffffff;
    border-radius: 35px;
    height: 30px;
    line-height: 30px;
}

.el-select__caret.el-input__icon.el-icon-arrow-up {
    line-height: 30px !important;
}

// 时间样式修改
.el-range-editor.el-input__inner {
    border-radius: 35px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    width: auto !important;
}

.el-input__icon.el-range__icon.el-icon-date,
.el-range-separator {
    line-height: 22px !important;
}

// 取消卡片背景色
.revenue-money>div.el-card,
.comprehensive-data>div.el-card {
    background-color: unset;
}

// 修改走马灯样式
.el-carousel__indicator {
    & .el-carousel__button {
        border-radius: 35px;
        padding: 2px 3px;
        background-color: #f0f0f0;
    }
}

.is-active {
    & .el-carousel__button {
        background-color: #1989f9 !important;
    }
}

// 今日,本月,本年的样式
.date-ul li {
    cursor: pointer;
    display: inline;
    list-style-type: none;
    padding: 0 12px;
    color: #9c9c9c;
    line-height: 31px;
}

.is-select-li {
    color: #5ca5fa !important;
}


//上传和打印图标样式
.export-print {
    line-height: 31px;
    text-align: right;

    & .iconfont {
        color: #2890fa;
    }
}


// 自定义卡片头
.echart-header {
    background-color: #f8f9fb;
    font-size: 20px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.echart-body {
    background-color: #ffffff;

    // & .el-carousel__container {
    //     height: 429px;
    // }
}


// 表格头部头像样式
.header-avatar-table {
    background-color: #f8c339 !important;
    margin: 20px;
}

.header-table-copy {
    text-align: left;

    & div {
        height: 20px;
        line-height: 20px;
    }

    & div:first-child {
        font-size: 13px;
        padding-top: 20px;
    }

    & div:last-child {
        font-size: 11px;
        color: #848686;
    }
}